/*.logo{
    text-align: center;
}

.navbar-center {
    left: 30%;
}*/

/*Cuando cambiemos el logo, probablemente haya que modificar esto*/
.logoSpec{
    height: 150px;
    width: 270px;
}

.navbar-nav{
    padding-left: 15%;
}

.text{
    font-size: 22px;
    font-weight: bold;
}

@media (max-width: 600px) {
    .navbar-center {
        left: 1px;
    }

}