<!--************** Imagen Portada ***************--> 
<div class="container-fluid pb-5 px-0">
    <div class="row mx-0 text-center">
        <div class="container-fluid thumbnail  px-0">
            <img class="cover-img img-fluid" src="../../assets/img/Home1.jpeg" alt="portada">
            <div class="caption">
                <h2 class="titulo-portada">Aquí va </h2>
                <h1 class="titulo-portada">UN TÍTULO</h1>
            </div>
        </div>    
    </div>
</div>

<!--************** Info sobre el sitio ***************--> 
<div class="container pb-5">
    <div class="row">
        <div class="col pt-5">
            <h3>Esto es un subtítulo que describe el sitio</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore suscipit eaque commodi tempore. Rerum necessitatibus eos dignissimos neque repudiandae? Minus ducimus ab obcaecati eius deleniti maiores aspernatur ullam illo facere.
            Similique impedit praesentium explicabo, optio eveniet officia obcaecati et nam voluptate ad ut laborum rerum, deleniti mollitia velit. Voluptate, minus autem. Necessitatibus, alias suscipit ratione consequuntur aliquam ullam aperiam quod?</p>
        </div>
        <div class="d-none d-lg-flex align-items-center col">
            <img class="cover-img img-fluid img-info" src="../../assets/img/Home2.jpeg" alt="info">
        </div>
    </div>
</div>

<!--************** Quienes somos ***************--> 
<div class="container-fluid who-are-we pt-5 pb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <p style="font-size: 3vw; color:whitesmoke">"Somos bla bla bla pisicing elit. Totam cupiditate, recusandae similique autem, at adipisci aliquid sapiente iure laboriosam incidunt nisi optio, doloribus deleniti iusto velit ducimus nihil cum qui"</p>
            <!-- <h3 style="font-size: 5wv; color:whitesmoke">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam cupiditate, recusandae similique autem, at adipisci aliquid sapiente iure laboriosam incidunt nisi optio, doloribus deleniti iusto velit ducimus nihil cum qui?</h3> -->
        </div>
    </div>
    <div class="row text-center">
        <h4 style="color: white;">fotito o algo asi</h4>
    </div>
</div>

<!--************** Mas Info sobre el sitio ***************--> 
<div class="container pb-5">
    <div class="row">
        <div class="d-none d-lg-flex align-items-center col">
            <img class="cover-img img-fluid img-info" src="../../assets/img/Home2.jpeg" alt="info">
        </div>
        <div class="col pt-5">
            <h3>Esto es un subtítulo que describe el sitio</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore suscipit eaque commodi tempore. Rerum necessitatibus eos dignissimos neque repudiandae? Minus ducimus ab obcaecati eius deleniti maiores aspernatur ullam illo facere.
            Similique impedit praesentium explicabo, optio eveniet officia obcaecati et nam voluptate ad ut laborum rerum, deleniti mollitia velit. Voluptate, minus autem. Necessitatibus, alias suscipit ratione consequuntur aliquam ullam aperiam quod?</p>
        </div>  
    </div>
</div>


