<!--************** Imagen Portada ***************--> 
<div class="container-fluid pb-5 px-0">
    <div class="row mx-0 text-center">
        <div class="container-fluid thumbnail  px-0">
            <img class="cover-img img-fluid" src="../../assets/img/Home1.jpeg" alt="portada">
        </div>    
    </div>
</div>

<!--************** Info sobre el sitio ***************--> 
<div class="container pb-5">
    <div class="row">
        <div class="col pt-6">
            <h3>Ramada Paso</h3>
            <p>Una localidad llena de historia donde cientos de pelegrinos transitan por sus calles rumbo a la casa de la Virgen de Itati, por el antiguo atajo y la ruta provincial N° 89 pasando por la capilla de San Antonio para su bendición.</p>

            <p>Cuenta con un Complejo Turístico y recreativo llamado ”Laguna Curuzu Jaime” que a su vez dispone de un parque acuático, con piletas para niños-adultos y una semi olimpíca. 
                Además del balneario ubicado en la laguna de agua cristalina donde también se puede realizar actividades náuticas, como el kayak. 
                Entre sus comodidades dispone de sector de camping, quinchos, parrillas, pasarelas sobre la laguna, miradores, vestuarios, canchas de voley y futbol playa.
                El 13 de junio se celebra la fiesta patronal de San Antonio de Padua.</p>

            <p>La cercanía a los destinos turísticos con oferta de pesca como Paso de la Patria, Itati, Ita Ibate e Ituzaingo permite 
                realizar dicho deporte en el Río Parana.</p>
        </div>
        <div class="d-none d-lg-flex align-items-center col">
            <img class="cover-img img-fluid img-info" src="../../assets/img/RamadaPaso.jpg" alt="info">
        </div>
    </div>
</div>

<!-- 
<div class="container-fluid who-are-we pt-5 pb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <p style="font-size: 3vw; color:whitesmoke">"Somos bla bla bla pisicing elit. Totam cupiditate, recusandae similique autem, at adipisci aliquid sapiente iure laboriosam incidunt nisi optio, doloribus deleniti iusto velit ducimus nihil cum qui"</p>
        </div>
    </div>
    <div class="row text-center">
        <h4 style="color: white;">fotito o algo asi</h4>
    </div>
</div>


<div class="container pb-5">
    <div class="row">
        <div class="d-none d-lg-flex align-items-center col">
            <img class="cover-img img-fluid img-info" src="../../assets/img/Home2.jpeg" alt="info">
        </div>
        <div class="col pt-5">
            <h3>Esto es un subtítulo que describe el sitio</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore suscipit eaque commodi tempore. Rerum necessitatibus eos dignissimos neque repudiandae? Minus ducimus ab obcaecati eius deleniti maiores aspernatur ullam illo facere.
            Similique impedit praesentium explicabo, optio eveniet officia obcaecati et nam voluptate ad ut laborum rerum, deleniti mollitia velit. Voluptate, minus autem. Necessitatibus, alias suscipit ratione consequuntur aliquam ullam aperiam quod?</p>
        </div>  
    </div>
</div>
--> 


