<footer class="bg-dark text-center text-white ">
    <!-- Grid container -->
    <div class="container pb-0 pt-3">
        <div class="row">
            <div class="col">
                <h1>DonGenaro(logo)</h1>
            </div>
            <div class="col">
                <section class="mb-4">
                    <!-- Facebook -->
                    <a
                    class="btn text-white btn-floating m-1"
                    style="background-color: #3b5998;"
                    href="#!"
                    role="button"
                    ><i class="fab fa-facebook-f"></i
                    ></a>
            
                    <!-- Instagram -->
                    <a
                    class="btn text-white btn-floating m-1"
                    style="background-color: #ac2bac;"
                    href="#!"
                    role="button"
                    ><i class="fab fa-instagram"></i
                    ></a>
                </section>
            </div>
            <div class="col">
                <h6>Paraguay 1471</h6>
                <h5>Corrientes - Argentina</h5>
            </div>
                       
        </div>
      
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">Don Genaro</a>
    </div>
    <!-- Copyright -->
</footer>